@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* 
@theme inline {
  --shadow-abhay:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
} */


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme{
  --animate-marquee: marquee 10s linear infinite;

  @keyframes marquee {
    form{
      transform: translateX(-100%);
    }to{
      transform: translateX(100%)
    }
  }
}